{% extends 'base.html' %}
{% block title %}<title>{{title}}</title>{% endblock title %}
{% block content %}

<section class="group" id="home">
    
    <div class = "group-text"> 
        <h1>Reports</h1>
        <a class= 'btn' href="{% url 'create_report_page' %}">Create</a>
    </div>
    <div class="group-card">
      
      <table>
        <tr>
          <th>Report Name</th>
          <th>Created By</th>
          <th>Tags</th>
          <th>Group</th>
          <th>Procedures</th>
        </tr>
        {% if request.user.is_superuser %}
        {% for report in reports %}
        <tr>
          <td>{{report.title}}</td>
          <td>{{report.user}}</td>
          <td>{{report.tage}}</td>
          <td>{{report.group.name}}</td>
          <td>
            <a class="btn_update" href = "{% url 'view_report_page' report.id %}"><img src="https://img.icons8.com/external-line-icons-royyan-wijaya/64/000000/external-eyes-whatsername-medical-line-line-icons-royyan-wijaya.png"/></a>
            <a class="btn_update" href = "{% url 'update_report_page' report.id %}"><img src="https://img.icons8.com/color/48/000000/edit--v1.png"/></a>
            <a class="btn_update" href = "{% url 'delete_report_page' report.id %}"><img src="https://img.icons8.com/fluency/48/000000/filled-trash.png"/></a>
          </td>
        </tr>
        {% endfor %}
        {% endif %}

        {% if not request.user.is_superuser %}
        {% for report in report_is %}
        <tr>
          <td>{{report.title}}</td>
          <td>{{report.user}}</td>
          <td>{{report.tage}}</td>
          <td>{{report.group.name}}</td>
          <td>
            <a class="btn_update" href = "{% url 'view_report_page' report.id %}"><img src="https://img.icons8.com/external-line-icons-royyan-wijaya/64/000000/external-eyes-whatsername-medical-line-line-icons-royyan-wijaya.png"/></a>
            <a class="btn_update" href = "{% url 'update_report_page' report.id %}"><img src="https://img.icons8.com/color/48/000000/edit--v1.png"/></a>
            <a class="btn_update" href = "{% url 'delete_report_page' report.id %}"><img src="https://img.icons8.com/fluency/48/000000/filled-trash.png"/></a>
          </td>
        </tr>
        {% endfor %}
        {% endif %}
      </table>
    </div>
    
  </section>

{% endblock content %}